{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{% if settings.thumbnail_hover_enabled or settings.quick_shop_enabled and settings.quick_shop_style == 'popup' %}
  <div class="thumbnail-overlay">
    <a href="{{ product.url }}" {% if disabled_by_yoast_seo %}itemprop="url"{% endif %} class="hidden-product-link">
      {{ product.title }}
      {{ collection_handles }}
    </a>

    <div class="info">
      {% if settings.thumbnail_hover_enabled %}
        {%
          render 'product-info',
          product: product,
          collection_handles: collection_handles,
        %}
      {% endif %}

      {% if settings.quick_shop_enabled and settings.quick_shop_style == 'popup' %}
        {%
          render 'quick-shop-button',
          product: product,
        %}
      {% endif %}
    </div>
  </div>
{% endif %}

{%
  render 'price-ui-badges',
  product: product,
  collection_handles: collection_handles,
%}
